* {
    margin: 0;
}

body {
    background-color: aliceblue;
}

.primeiro {
    background-color: #e6c744;
    padding: 30vh;
}

h1 {
    font-size: 4em;
}

h2 {
    text-align: center;
}

footer {
    padding: 10em;
    background-color: #000000;
    color: antiquewhite;
    text-align: center;
}


form button {
    background-color: #000000;
    color: aliceblue;
    border-radius: 5px;
}

form {
    display: flex;
    max-width: auto;
    padding: 30px;
    width: 30%;
    height: 30%;
    margin: auto;
}

form label {
    margin-top: 10px;
}


form input,
form textarea {
    padding: 10px;
}


form button:hover {
    background-color: #fff350;
    color: #000000;
}